<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <title><%= title %></title>
</head>
<body>
    <header class="header" id="header">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h1 class="h1-heading display-5 text-center text-md-start"><%= name %></h1>
                    <p class="headeer-text">Add an actor <a href="/actor-form">here</a>.</p>
                </div>
                <div class="col-md-8">
                    <ul class="nav justify-content-center justify-content-end">
                        <li class="nav-item">
                            <a href="/" class="nav-link">home</a>
                        </li>
                        <li class="nav-item">
                            <a href="/actors" class="nav-link">actor</a>
                        </li>
                        <li class="nav-item">
                            <a href="/directors" class="nav-link">director</a>
                        </li>
                        <li class="nav-item">
                            <a href="/productions" class="nav-link">production</a>
                        </li>
                        <li class="nav-item">
                            <a href="/programs" class="nav-link">program</a>
                        </li>
                        <li class="nav-item">
                            <a href="/streaming_platform" class="nav-link">streaming_platform</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </header>

<!-- lines 3-8 used bootstrap for title font -->
 <!-- line 12-16 used header, container,row for actor form
   href - hyper reference lets use know what its linked to
